fieldset {
    display: flex;
    flex-direction: column;
}

body {
    background-color: lightblue;
}

#radioContainer {
    display: flex;
    width: 50%;
    justify-content: space-between;  
}

#recordEntry {
    margin: 10px
}

.editJournalEntry {
    display: none;
}

.saveBtn {
    margin: 4px;
}